.btn {
    margin: 0.5rem 0.5rem;
    padding: 12px 16px;
    max-width: 200px;
    width: fit-content;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    border: none;
    border: 1px solid transparent;
    background: transparent;
    cursor: pointer;
    transition: all 0.4s ease-in-out, color 0.4s ease-in-out;
  
    // remove outline
    outline: none;

    @media screen and (min-width: 768px) {
      margin: 1rem 2rem;
      max-width: 300px;
    }
  }
  
  .default {
    border: none;
    border-top: 1px solid #232328;
    border-bottom: 1px solid #232328;
    color: #232328;
    background-color: #888;
    font-weight: 400;
  
    &:hover {
      background: #232328;
      color: #f8f8f8;
    }
  }
  
  
  .todo_btn {
    margin: 0;
    padding: 0.5rem 0.5rem;
    width: unset;
    height: unset;
    font-size: 1rem;   
    border: none;
    background-color: transparent;
    font-weight: 400;
  
    &:hover {
      background: #232328;
      color: #f8f8f8;
    }
  }

  
.submit_btn {
  margin-top: 0.5rem;
  padding: .5rem 1rem;
  border: 0;
  font-weight: 300;
  cursor: pointer;
  text-transform: uppercase;
  background-color: var(--bg);
  color: var(--color-secondary);
  font-size: .6rem;    
  -webkit-transition: background 200ms ease-out,
  -webkit-transform 500ms ease-out;    
  transition: background 200ms ease-out,
  -webkit-transform 500ms ease-out;    
  -o-transition: transform 500ms ease-out,
  background 200ms ease-out;    
  transition: transform 500ms ease-out,
  background 200ms ease-out;    
  transition: transform 500ms ease-out,
  background 200ms ease-out,
  -webkit-transform 500ms ease-out;
  z-index: 3;
  }
  
  .submit_btn:hover {
  background-color: #626262;
  color: #fff;
  -webkit-box-shadow: 0 0 5px #d4d4d4,
            0 0 25px #c0c0c0b6,
            0 0 50px #69696942,
            0 0 100px #4e4e4e27;
        box-shadow: 0 0 5px #d4d4d4,
            0 0 25px #c0c0c0b6,
            0 0 50px #69696942,
            0 0 100px #4e4e4e27;
  -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
  }
  
