textarea {
    padding: 0.2rem;
    width: 100%;
    height: 150px;
    display: block;
    position: relative;
    font-size: 0.6rem;
    color: rgb(0, 0, 0);
    background-color: #888;
    outline: none;
    border: none;
}

textarea:invalid {
    border: 1px solid rgb(248, 145, 126);
  }

/*   
label {
    font-size: 0.6rem;
    text-transform: capitalize;
    color: #121212;
    display: block;
    margin: 0.25rem 0;
    } */