.logo {
    padding: 0.5rem;
    max-width: 30%;
    @media screen and (min-width: 768px) {
     max-width: 50%;
    }
   

    > h2 {     
        padding: 0 0 0 0.5rem;
        font-size: clamp(0.6rem, 1vw, 1.5rem);
        font-weight: 400;  
        color: white;
        text-transform: uppercase;   

         
  @media screen and (min-width: 768px) {
    padding: 0 0 0 2rem;
  }
        
    }
}