
input {
    padding: 0.2rem;
    width: 100%;
    position: relative;
    display: block;    
    font-size: 0.6rem;
    color: rgb(0, 0, 0);
    background-color: #888;
    border: none;    
    outline: none;
    }
    
    ::-webkit-input-placeholder {
    color: rgb(25, 25, 25);
    }
    
    ::-moz-placeholder {
    color: rgb(25, 25, 25);
    }
    
    :-ms-input-placeholder {
    color: rgb(25, 25, 25);
    }
    
    ::-ms-input-placeholder {
    color: rgb(25, 25, 25);
    }
    
    ::placeholder {
    color: rgb(25, 25, 25);
    }
    
    input:focus,
    input:valid {
    outline: none;
    border-bottom-color: rgb(227, 242, 202);
    }
    
    input:invalid {
      border: 1px solid tomato;
    }
    
    label {
        font-size: 0.6rem;
        text-transform: capitalize;
        color: white;
        display: block;
        margin: 0.25rem 0;
        }