.nav_item {
    height: unset;
    position: relative;
    padding: 1rem 2rem;
    display: grid;
    place-content: center;   
    text-transform: capitalize; 

    
  @media screen and (min-width: 768px) {
    height: 100%;
    padding: 0 1rem;
  }

    &:last-of-type {
        margin-right: 0.5rem;

        @media screen and (min-width: 768px) {
            margin-right: 2rem;
          }
    }

    .nav_link {   
        margin: 0;
        padding: 0.25rem 0.25rem;
        position: relative;
        width: 100%;
        height: 100%;   
        font-size: 0.8rem;
        text-decoration: none;
        color: white;

        
  @media screen and (min-width: 768px) {
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }        

  /* want a solid background, just uncomment background color,  testing different ways to do hover effects on nav  */
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;           
    width: 0%;
    height: 100%;
   /*  background-color: white; */
    z-index: -1;
}
&::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;           
    width: 0%;
    height: 2%;
    background-color: rgb(241, 91, 17);
    z-index: -1;
}
}


&:hover {
.nav_link {
    color: black;
    color: #888;
    z-index: 10;
}
.nav_link::after {
    width: 100%;
    cursor: pointer;
    transition: width 0.4s ease-in-out;
}

.nav_link::before {
    width: 100%;
    cursor: pointer;
    transition: width 0.4s ease-in-out;
}

}
}